# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
!/TaiFighter/assets/**
/TaiFighter/assets/scripts/Engine/

!/.vscode/**

!/PTSD-Engine/**

!workspace.code-workspace
!.gitignore
!.gitmodules
!*.bat
!*.sh
!README.md